.error-toast {
  position: fixed;
  top: 20px;
  right: 20px;

  background-color: rgb(255, 170, 170);
  border-color: #ff4d4d;
  color: #cb0000;

  padding: 14px;
  border-radius: 8px;
  min-width: 260px;
  max-width: 380px;
  box-sizing: border-box;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;

  box-shadow: 0 0 20px rgba(255, 77, 77, 0.6);
  font-weight: bold;
  z-index: 9999;

  transform: translateX(120%);
  opacity: 0;

  transition: 0.4s ease, opacity 0.4s ease;
}

.error-content {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

.error-toast.show {
  transform: translateX(0);
  opacity: 1;
}

.error-toast .error-label {
  opacity: 0.85;
}

.error-toast strong {
  display: block;
}

.error-text {
  font-size: 12px;
}

.error-icon {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  margin-top: -1px;
}

.error-message {
  display: inline;
  line-height: 1.4;
  word-break: break-word;
}
