.content-transactions-overview {
  margin-left: 200px;
  padding-top: 60px;
  height: calc(100vh - 60px);
  background: #0e1116
}

.transactions-header-title {
  margin-top: 10px;
  margin-left: calc((100vh + 200px) / 2);
  align-items: center;
  justify-content: center;
  color: white;
}

.transactions-box {
  margin: 24px;
  background: rgba(18, 24, 38, 0.92);
  backdrop-filter: blur(6px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px - 48px);
  width: calc(100vw - 200px - 48px);
}

.transactions-box-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.transactions-header {
  margin-top: 10px;
  padding: 10px 0;
  font-size: 13px;
  color: #ffffff;
  border-bottom: 1px solid #1f242c;
}

.transactions-header,
.transaction-row {
  display: grid;
  grid-template-columns:
    1.5fr
    1.5fr
    1.5fr
    1.5fr
    1.5fr
    1.5fr;
  align-items: center;
}

.transactions-body {
  flex: 1;
  overflow-y: auto;
}

.transactions-header,
.transaction-row {
  padding: 12px 0;
  font-size: 14px;
  color: #e3e6eb;
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}

.transaction-row:hover {
  background: rgba(0, 255, 255, 0.03);
}

.transactions-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.pagination-button {
  padding: 6px 12px;
  border-radius: 6px;
  background: #1a1f26;
  color: #9aa0a6;
  border: none;
  cursor: pointer;
}

.pagination-button:hover:not(:disabled) {
  color: #00ffff;
  background: #202634;
}

.pagination-button:disabled {
  opacity: 0.3;
  cursor: default;
}

.transactions-overview-back-link {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  gap: 6px;

  font-size: 22px;
  color: #00ffff;
  text-decoration: none;
  cursor: pointer;

  opacity: 0.8;
  transition: color 0.2s ease;

  will-change: transform, opacity;
}

.transactions-overview-back-link:hover {
  opacity: 1;
}

.transactions-overview-back-link .arrow {
  font-size: 22px;
  color: #9aa0a6;
  transition: color 0.3s ease;
}

.transactions-overview-back-link .label {
  font-size: 14px;
  color: #00ffff;

  opacity: 0;
  transform: translate3d(-6px, 0, 0);
  pointer-events: none;

  transition: opacity 0.3s ease, transform 0.3s ease;
}

.transactions-overview-back-link:hover .arrow {
  color: #00ffff !important;
}

.transactions-overview-back-link:hover .label {
  opacity: 1;
  transform: translateX(0);
}

.status {
  margin-left: -16px;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
}

.status-icon {
  height: 20px;
  width: 20px;
}

.status--success {
  color: #22c55e;
}

.status--pending {
  color: #facc15;
}

.status--error {
  color: #ef4444;
}

.amount {
  font-weight: 600;
}

.amount--positive {
  color: #22c55e;
}

.amount--negative {
  color: #ef4444;
}


