<app-content-box title="Roll a dice">
  <app-back-link link="/casino" label="Back to Casino Overview"></app-back-link>

  <div class="content-roll-a-dice-box">
    <div class="dice-container">

      @if (dice1 === null || dice2 === null) {
        <div class="casino-loading">
          <span>Loading game...</span>
        </div>
      } @else {
        <div class="casino-balance">
        <span class="balance-text">
          ${{ (casinoBalance$ | async)?.toFixed(2) }}
        </span>

          <button class="deposit-btn" (click)="openDepositModal()">
            Deposit
          </button>
        </div>

        <div class="dice-area">
          <div class="dice" [class.rolling]="isRolling">
            <span>{{ dice1 }}</span>
          </div>

          <div class="dice" [class.rolling]="isRolling">
            <span>{{ dice2 }}</span>
          </div>
        </div>

        <div class="dice-info">
          @if (!isLocked) {
            <div class="timer"> {{ timeLeft }} </div>
          }

          <div class="status" [class.locked]="isLocked">
            {{ isLocked ? 'Locked' : 'Betting' }}
          </div>
        </div>

        @if (winAmount > 0) {
          <div class="win-text"> +${{ (winAmount / 100).toFixed(2) }} </div>
        }
      }

    </div>
  </div>

  <div class="bet-grid">
    <h3>Single Dice</h3>
    <div class="bet-group">

        <button class="bet-button" (click)="placeBet('single-1')" [disabled]="isLocked">
          1 <span>1:3</span>

          @if (bets['single-1']) {
            <div class="bet-amount"> ${{ getBetAmount('single-1') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('single-2')" [disabled]="isLocked">
          2 <span>1:3</span>

          @if (bets['single-2']) {
            <div class="bet-amount"> ${{ getBetAmount('single-2') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('single-3')" [disabled]="isLocked">
          3 <span>1:3</span>

          @if (bets['single-3']) {
            <div class="bet-amount"> ${{ getBetAmount('single-3') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('single-4')" [disabled]="isLocked">
          4 <span>1:3</span>

          @if (bets['single-4']) {
            <div class="bet-amount"> ${{ getBetAmount('single-4') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('single-5')" [disabled]="isLocked">
          5 <span>1:3</span>

          @if (bets['single-5']) {
            <div class="bet-amount"> ${{ getBetAmount('single-5') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('single-6')" [disabled]="isLocked">
          6 <span>1:3</span>

          @if (bets['single-6']) {
            <div class="bet-amount"> ${{ getBetAmount('single-6') }} </div>
          }
        </button>
    </div>

    <h3>Both Dices Count</h3>
    <div class="bet-group">
        <button class="bet-button" (click)="placeBet('both-2')" [disabled]="isLocked">
          2 <span>1:36</span>

          @if (bets['both-2']) {
            <div class="bet-amount"> ${{ getBetAmount('both-2') }} </div>
          }
        </button>
        <button class="bet-button" (click)="placeBet('both-3')" [disabled]="isLocked">
          3 <span>1:18</span>

          @if (bets['both-3']) {
            <div class="bet-amount"> ${{ getBetAmount('both-3') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('both-4')" [disabled]="isLocked">
          4 <span>1:12</span>

          @if (bets['both-4']) {
            <div class="bet-amount"> ${{ getBetAmount('both-4') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('both-5')" [disabled]="isLocked">
          5 <span>1:9</span>

          @if (bets['both-5']) {
            <div class="bet-amount"> ${{ getBetAmount('both-5') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('both-6')" [disabled]="isLocked">
          6 <span>1:7</span>

          @if (bets['both-6']) {
            <div class="bet-amount"> ${{ getBetAmount('both-6') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('both-7')" [disabled]="isLocked">
          7 <span>1:6</span>

          @if (bets['both-7']) {
            <div class="bet-amount"> ${{ getBetAmount('both-7') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('both-8')" [disabled]="isLocked">
          8 <span>1:7</span>

          @if (bets['both-8']) {
            <div class="bet-amount"> ${{ getBetAmount('both-8') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('both-9')" [disabled]="isLocked">
          9 <span>1:9</span>

          @if (bets['both-9']) {
            <div class="bet-amount"> ${{ getBetAmount('both-9') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('both-10')" [disabled]="isLocked">
          10 <span>1:12</span>

          @if (bets['both-10']) {
            <div class="bet-amount"> ${{ getBetAmount('both-10') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('both-11')" [disabled]="isLocked">
          11 <span>1:18</span>

          @if (bets['both-11']) {
            <div class="bet-amount"> ${{ getBetAmount('both-11') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('both-12')" [disabled]="isLocked">
          12 <span>1:36</span>

          @if (bets['both-12']) {
            <div class="bet-amount"> ${{ getBetAmount('both-12') }} </div>
          }
        </button>
    </div>

    <h3>Doubles</h3>
    <div class="bet-group">
        <button class="bet-button" (click)="placeBet('double-1')" [disabled]="isLocked">
          1-1 <span>1:36</span>

          @if (bets['double-1']) {
            <div class="bet-amount"> ${{ getBetAmount('double-1') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('double-2')" [disabled]="isLocked">
          2-2 <span>1:36</span>

          @if (bets['double-2']) {
            <div class="bet-amount"> ${{ getBetAmount('double-2') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('double-3')" [disabled]="isLocked">
          3-3 <span>1:36</span>

          @if (bets['double-3']) {
            <div class="bet-amount"> ${{ getBetAmount('double-3') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('double-4')" [disabled]="isLocked">
          4-4 <span>1:36</span>

          @if (bets['double-4']) {
            <div class="bet-amount"> ${{ getBetAmount('double-4') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('double-5')" [disabled]="isLocked">
          5-5 <span>1:36</span>

          @if (bets['double-5']) {
            <div class="bet-amount"> ${{ getBetAmount('double-5') }} </div>
          }
        </button>

        <button class="bet-button" (click)="placeBet('double-6')" [disabled]="isLocked">
          6-6 <span>1:36</span>

          @if (bets['double-6']) {
            <div class="bet-amount"> ${{ getBetAmount('double-6') }} </div>
          }
        </button>
    </div>

    <div class="bet-group">
      <button class="bet-button" (click)="placeBet('random-double')" [disabled]="isLocked">
        Random Double<span>1:6</span>

        @if (bets['random-double']) {
          <div class="bet-amount"> ${{ getBetAmount('random-double') }} </div>
        }
      </button>
    </div>
  </div>

  <div class="stake-container">

    <div class="clear-bar">
      <button (click)="clearBets()">
        Clear All
      </button>
    </div>

    <input type="checkbox" id="stake-toggle" />

    <label for="stake-toggle" class="stake-display" [class.disabled]="!insufficientBalance()">
      <span class="arrow">◀</span>
      <span class="amount">${{ (currentStake / 100).toFixed(2) }}</span>
    </label>

    <div class="stake-options">
      <button (click)="toggleClearMode()" [class.active]="clearMode">
         Clear
      </button>

      @for (s of stakeOptions; track s) {
        <button (click)="selectStake(s)" [disabled]="!isStakeAvailable(s)" [class.disabled]="!isStakeAvailable(s)">
          ${{ s / 100 }}
        </button>
      }

    </div>

  </div>
</app-content-box>

@if (isModalOpen) {
  <app-detail-box (close)="closeDepositModal()" title="Deposit">
    <div class="casino-roll-a-dice-details-grid">
      <app-number-input (valueChange)="depositAmount = $event"></app-number-input>

      <button class="deposit-btn" (click)="confirmDeposit()" [disabled]="depositAmount <= 0">Confirm</button>
    </div>

    <div class="casino-roll-a-dice-info-text">
      <app-info-text infoMessage="The amount will be immediately charged from your account."></app-info-text>
    </div>
  </app-detail-box>
}

