<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">

  <a routerLink="/login" class="auth-back-link">
    <span class="arrow">←</span>
    <span class="label">Back to Login</span>
  </a>

  <div class="form-field">
    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
      name="email"
      required
      email
      #emailField="ngModel"
    />

    @if (emailField.touched && emailField.errors?.['required']) {
      <p class="field-error"> * Email is required </p>
    }

    @if (emailField.touched && emailField.errors?.['email']) {
      <p class="field-error"> * Must contain &#64; and valid domain ending </p>
    }
  </div>

  <div class="form-field">
    <input
      type="text"
      placeholder="Username"
      [(ngModel)]="username"
      name="username"
      required
      minlength="3"
      #usernameField="ngModel"
    />

    @if (usernameField.touched && usernameField.errors) {
      <p class="field-error">
        @if (usernameField.errors['required']) {
          <span> * Username is required </span>
        }

        @if (usernameField.errors['minlength']) {
          <span> * Username must be at least 3 characters long </span>
        }
      </p>
    }
  </div>

  <div class="form-field">
    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
      name="password"
      required
      minlength="8"
      #passwordField="ngModel"
    />

    @if (passwordField.touched && passwordField.errors) {
      <p class="field-error">
        @if (passwordField.errors['required']) {
          <span> * Password is required </span>
        }

        @if (passwordField.errors['minlength']) {
          <span> * Password must be at least 8 characters long </span>
        }
      </p>
    }
  </div>

  <div class="form-field">
    <input
      type="password"
      placeholder="Repeat Password"
      [(ngModel)]="repeatPassword"
      name="repeatpassword"
      required
      minlength="8"
      #repeatpasswordField="ngModel"
    />

    @if (repeatpasswordField.touched && repeatpasswordField.errors) {
      <p class="field-error">

        @if (repeatpasswordField.errors['required']) {
          <span> * Password is required </span>
        }

        @if (repeatpasswordField.errors['minlength']) {
          <span> * Password must be at least 8 characters long </span>
        }

        @if (repeatpasswordField.touched && password && repeatPassword && repeatPassword !== password) {
          <span> * Passwords must match </span>
        }
      </p>
    }

  </div>

  <button class="register-button" type="submit">
     Register
  </button>

</form>
