<main class="content-casino-overview">
  <div class="content-casino-overview-transfer-money">
    <h2>Casino Balance: ${{ (casinoBalance$ | async)?.toFixed(2) }}</h2>

    <div class="casino-transfer-buttons">
      <button class="casino-overview-deposit-button" (click)="depositModal()">Deposit</button>
      <button class="casino-overview-cash-out-button" (click)="cashOutModal()">Cash Out</button>
    </div>

    <img class="casino-overview-info-icon" src="assets/icon_info.png" alt="icon_info" (click)="infoModal()">
  </div>

  <app-tile title="Roll a dice" icon="assets/icons-tiles/casino/icon_roll_a_dice.png" route="/casino/roll-a-dice"></app-tile>
  <app-tile title="Slot Machines" icon="assets/icons-tiles/casino/icon_slot_machines.png" route="/casino/slot-machines"></app-tile>
  <app-tile title="Football Bets" icon="assets/icons-tiles/casino/icon_football_bets.png" route="/casino/football-bets"></app-tile>
</main>

@if (isInfoModalOpen) {
  <app-detail-box title="Information" (close)="infoModal()">
    <div class="content-casino-overview-information-box">
    <span>
      Gambling can be addicting.
    </span>

      <span>
      Deposit: {{ depositMoneyInfoText }}
    </span>

      <span>
      Cash Out: {{ cashOutMoneyInfoText }}
    </span>
    </div>
  </app-detail-box>
}

@if (isDepositModalOpen) {
  <app-casino-transfer-money-detail [title]="depositMoney" [infoText]="depositMoneyInfoText" (close)="depositModal()" (confirm)="confirm($event)"></app-casino-transfer-money-detail>
}

@if (isCashOutModalOpen) {
  <app-casino-transfer-money-detail [title]="cashOutMoney" [infoText]="cashOutMoneyInfoText" (close)="cashOutModal()" (confirm)="confirm($event)"></app-casino-transfer-money-detail>
}
