<aside class="sidebar">
  <nav class="sidebar-nav">
    <button routerLink="/home" routerLinkActive="active">
      <img src="assets/icons-sidebar/icon_home.png" alt="icon_home" class="sidebar-icon" />
      Home
    </button>

    <button routerLink="/market" routerLinkActive="active">
      <img src="assets/icons-sidebar/icon_market.png" alt="icon_market" class="sidebar-icon" />

      Market
    </button>

    <button routerLink="/portfolio" routerLinkActive="active">
      <img src="assets/icons-sidebar/icon_portfolio.png" alt="icon_portfolio" class="sidebar-icon" />

      Portfolio
    </button>

    <button routerLink="/casino" routerLinkActive="active">
      <img src="assets/icons-sidebar/icon_casino.png" alt="icon_casino" class="sidebar-icon" />

      Casino
    </button>

    <button routerLink="/wallet" routerLinkActive="active">
      <img src="assets/icons-sidebar/icon_wallet.png" alt="icon_wallet" class="sidebar-icon" />

      Wallet
    </button>

    <button routerLink="discord-link" routerLinkActive="active">
      <img src="assets/icons-sidebar/icon_discord.png" alt="icon_discord" class="sidebar-icon">

      Discord Link
    </button>
  </nav>

  <nav class="sidebar-bottom">
    <button routerLink="/help" routerLinkActive="active">
      <img src="assets/icons-sidebar/icon_help.png" alt="icon_help" class="sidebar-icon" />

      Help
    </button>
  </nav>
</aside>
