<aside class="sidebar">
  <nav class="sidebar-nav">
    <button routerLink="/home" routerLinkActive="active">
      <img
        src="assets/icon_home.png" alt="icon_home" class="sidebar-icon"
      />
      Home
    </button>

    <button routerLink="/portfolio" routerLinkActive="active">
      <img
        src="assets/icon_portfolio.png" alt="icon_portfolio" class="sidebar-icon"
      />

      Portfolio
    </button>

    <button routerLink="/market" routerLinkActive="active">
      <img
        src="assets/icon_market.png" alt="icon_market" class="sidebar-icon"
      />

      Market
    </button>

    <button routerLink="/casino" routerLinkActive="active">
      <img
        src="assets/icon_casino.png" alt="icon_casino" class="sidebar-icon"
      />

      Casino
    </button>

    <button routerLink="/wallet" routerLinkActive="active">
      <img
        src="assets/icon_wallet.png" alt="icon_wallet" class="sidebar-icon"
      />

      Wallet
    </button>
  </nav>

  <nav class="sidebar-bottom">
    <button routerLink="/help" routerLinkActive="active">
      <img
        src="assets/icon_help.png" alt="icon_help" class="sidebar-icon"
      />

      Help
    </button>
  </nav>
</aside>
