<main class="content-home">
  <app-tile title="Portfolio" icon="assets/icons-sidebar/icon_portfolio.png" route="/portfolio"></app-tile>
  <app-tile title="Wallet" icon="assets/icons-sidebar/icon_wallet.png" route="/wallet"></app-tile>
  <app-tile title="Wallet" icon="assets/icons-sidebar/icon_wallet.png" route="/wallet"></app-tile>
  <app-tile title="Portfolio" icon="assets/icons-sidebar/icon_portfolio.png" route="/portfolio"></app-tile>
  <app-tile title="Wallet" icon="assets/icons-sidebar/icon_wallet.png" route="/wallet"></app-tile>
  <app-tile title="Wallet" icon="assets/icons-sidebar/icon_wallet.png" route="/wallet"></app-tile>
</main>
