<div class="container">
  <app-header></app-header>

  <div class="layout">
    <app-sidebar></app-sidebar>

    <main class="content">
      <app-tile title="Portfolio" icon="assets/icons-sidebar/icon_portfolio.png" route="/portfolio"></app-tile>
      <app-tile title="Wallet" icon="assets/icons-sidebar/icon_wallet.png" route="/wallet"></app-tile>
      <app-tile title="Wallet" icon="assets/icons-sidebar/icon_wallet.png" route="/wallet"></app-tile>
      <app-tile title="Portfolio" icon="assets/icons-sidebar/icon_portfolio.png" route="/portfolio"></app-tile>
      <app-tile title="Wallet" icon="assets/icons-sidebar/icon_wallet.png" route="/wallet"></app-tile>
      <app-tile title="Wallet" icon="assets/icons-sidebar/icon_wallet.png" route="/wallet"></app-tile>
    </main>
  </div>
</div>
