.container {
  min-height: 100vh;
  background: #0b0f1a;
  display: flex;
  flex-direction: column;
}

.layout {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.content {
  align-content: start;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;

  margin-top: 120px;
  margin-left: 236px;
  padding: 32px;
}
