<header class="app-header">
  <a routerLink="/home" class="header-left" aria-label="Navigate Home">
    <img src="assets/icon.png" alt="icon" class="icon"/>
  </a>

  <div class="header-right">
    <div class="present-button" *ngIf="dailyClaim" (click)="claimDaily()">
      <img class="present-icon" src="assets/icons-header/icon_present.png" alt="icon_present"/>
    </div>

    <div class="user-menu" [class.open]="isDropDownOpen" (click)="$event.stopPropagation()">

      <button class="user-button" type="button" (click)="toggleDropDown($event)">

        <img src="assets/icons-header/icon_user.png" alt="user_icon" class="user-icon"/>

        <div class="user-text">
          <span class="username"> {{ (userHeaderInfo$ | async)?.username }} </span>

          <span class="balance">
          ${{ (userHeaderInfo$ | async)?.balance }}
        </span>
        </div>

      </button>

      <div class="user-dropdown-menu">
        <button class="user-dropdown-item">
          <img src="assets/icons-header/icon_settings.png" alt="icon_settings" class="user-dropdown-icon">

          Settings
        </button>
        <button class="user-dropdown-item logout" (click)="logout()">
          <img src="assets/icons-header/icon_logout.png" alt="icon_logout" class="user-dropdown-icon">

          Logout
        </button>
      </div>
    </div>

  </div>
</header>
