.success-toast {
  position: fixed;
  top: 80px;
  right: 20px;

  background-color: rgba(107, 243, 76, 0.46);
  border-color: #1cdc50;
  color: white;

  padding: 14px;
  border-radius: 8px;
  min-width: 260px;
  max-width: 380px;
  box-sizing: border-box;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;

  box-shadow: 0 0 20px rgba(86, 255, 0, 0.6);
  font-weight: bold;
  z-index: 9999;

  transform: translateX(120%);
  opacity: 0;

  transition: 0.4s ease, opacity 0.4s ease;
}

.success-toast.show {
  transform: translateX(0);
  opacity: 1;
}

.success-toast .success-label {
  opacity: 0.85;
}

