<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
   <div class="form-field">
      <input
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
        required
        email
        #emailField="ngModel"
      />

      @if (emailField.touched && emailField.errors?.['required']) {
        <p class="field-error">
          * Email field is required
        </p>
      }

      @if (emailField.touched && emailField.errors?.['email']) {
        <p class="field-error">
          * Must contain &#64; and valid domain ending
        </p>
      }
    </div>

  <div class="form-field">
    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
      name="password"
      required
      minlength="8"
      #passwordField="ngModel"
    />

    @if (passwordField.touched && passwordField.errors) {
      <p class="field-error">

        @if (passwordField.errors['required']) {
          <span> * Password field is required </span>
        }

        @if (passwordField.errors['minlength']) {
          <span> * Password must be at least 8 characters long </span>
        }

      </p>
    }
  </div>

  <button class="login-button" type="submit">
    {{ loading ? 'Logging in...' : 'Login' }}
  </button>

  <div class="register-link">
    <a routerLink="/register">
      Don't have an account yet? Register now!
    </a>
  </div>
</form>
