.content-wallet-overview {
  align-content: start;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;

  margin-top: 250px;
  margin-left: 236px;
  padding: 32px;
}

.content-wallet-overview-transaction-tile {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  margin-top: 130px;
}
