* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

.app-content {
  padding-top: 64px;
}

.form-field {
  margin-bottom: 12px;
}

.form-field input{
  width: 100%;
  padding: 12px;
  background: #111;
  border: 1px solid rgba(0, 255, 255, 0.25);
  border-radius: 6px;
  color: white;
}

.form-field input:focus {
  outline: none;
  box-shadow: 0 0 8px #00ffff;
}

.form-field touched {
  border-color: #ff4d4d;
}

.field-error {
  margin: 4px 0 0 0;
  font-size: 12px;
  color: rgba(255, 77, 77, 0.6);
}

.back-link {
  position: absolute;
  top: 16px;
  left: 16px;

  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 13px;
  color: #00ffff;
  text-decoration: none;
  cursor: pointer;

  opacity: 0.8;
  transition: opacity 0.3s ease, text-shadow 0.3s ease;
}

.back-link:hover {
  opacity: 1;
  text-shadow: 0 0 6px #00ffff;
}

.back-link .arrow {
  font-size: 18px;
  color: #9aa0a6;
  transition: color 0.3s ease;
}


